<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="Member">
	<resultMap id = "memberResultSet" type ="Member">
		<id property="memberId" column ="MEMBER_ID" />
		<result property="memberPwd" column="MEMBER_PWD" />
		 <result property="memberNm" column="MEMBER_NM" />
		 <result property="memberEnrollDt" column="MEMBER_ENROLL_DT" />
	</resultMap> 

	<select id="selectId" resultType="Member">
		select * from Member where MEMBER_ID = #{memberId} 
	</select>
	
	<insert id="signUp" parameterType="Member" statementType="PREPARED">
		INSERT INTO MEMBER VALUES(#{memberId}, #{memberPwd}, #{memberNm}, SYSDATE )
	</insert>

</mapper>